.bxlistnews li .cont-post .entry-post {
    font-size: 10px;
    color: #ac0000;
    line-height: 15px;
  }
.bxlistnews li .cont-post .entry-post .date {
    color: #333;
  }
.bxlistnews li .cont-post a {
    color: #333;
    font-weight: 500;
    line-height: 16px;
  }