<div class="container">
    <div class="row" style="height:10px"></div>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!-- Slide show -->
            <div class="card mb-4">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://unsplash.it/1400/600?image=114">
                            <title>test</title>
                        </div>
                        <div class="item">
                            <img src="https://unsplash.it/1400/600?image=62">
                        </div>
                        <div class="item">
                            <img src="https://unsplash.it/1400/600?image=315">
                        </div>
                        <div class="item">
                            <img src="https://unsplash.it/1400/600?image=622">
                        </div>
                        <div class="item">
                            <img src="https://unsplash.it/1400/600?image=401">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <!-- End Slide show -->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card">
                <!-- <h5 class="card-header">Search</h5> -->
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Phân tích cầu thủ</h5>
                <div class="card-body">

                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                    <a href="#">
                        <span class="label label-default">Henry UL</span>
                    </a>
                    <span class="label label-primary">Ronaldo WB</span>
                    <span class="label label-success">Messi CC</span>
                    <span class="label label-info">Ronaldo Delima UL</span>
                    <span class="label label-warning">Ronaldinho UL</span>
                    <span class="label label-danger">Ozil Ec</span>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <!-- Tiêu điểm -->
        <div class="col-md-12 title-news">
            <div class="titletabs">Tin tức</div>
            <ul class="list-inline tabsnews">
                <li>
                    <a [routerLink]="['/category',1]">Cầu thủ</a>
                </li>
                <li>
                    <a [routerLink]="['/category',2]">Chiến thuật</a>
                </li>
                <li>
                    <a [routerLink]="['/category',3]">Đội hình</a>
                </li>
                <li>
                    <a [routerLink]="['/category',4]">Kỹ thuật</a>
                </li>
            </ul>
        </div>
        <!-- End Tiêu điểm -->
    </div>
    <div class="row">
        <div class="col-md-8 col-left contmid">
            <ul class="list-post" *ngFor="let post of posts">
                <li>
                    <figure class="postImg">
                        <a href="/tin-game/cau-thu/3742-gheorghe-hagi-bi-u-tu-ng-vi-d-i-c-a-romania.html"> </a>
                        <div class="pull-left item-image">
                            <a href="/tin-game/cau-thu/3742-gheorghe-hagi-bi-u-tu-ng-vi-d-i-c-a-romania.html">
                            </a>
                            <a href="/tin-game/cau-thu/3742-gheorghe-hagi-bi-u-tu-ng-vi-d-i-c-a-romania.html">
                                <img src="./assets/images/articles/{{post.ImageUrl}}" alt="" itemprop="thumbnailUrl">
                            </a>
                        </div>
                    </figure>
                    <div class="cont-post">
                            <a class="post-title" [routerLink]="['/category',category.id]">
                            <span class="label label-danger">{{category.Name}}</span>
                        </a>
                        <a>
                        </a>
                        <a class="post-title" [routerLink]="['/post',post.id]">{{post.Title}}</a>
                        <div class="entry-post">Posted by {{post.Pseudonym}} | {{post.CreatedDate}}</div>
                        <div class="post-subcript"> {{post.Summary}} </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="subtitle">
                <img src="http://fo3zone.vn/templates/fo3zone/images/icon-title-1.png">Tin nổi bật</h2>
            <div class="bxnews cont-inside bggrey">
                <!-- <post-list [limit]=5></post-list> -->
            </div>
        </div>
    </div>

</div>