  <ul *ngFor="let post of posts" class="bxlistnews">
    <li>
      <figure class="thum-img">
        <img src="./assets/images/articles/{{post.ImageUrl}}">
      </figure>
      <div class="contpost">
          <a [routerLink]="['/category',post.CategoryId]">
          <span class="label label-danger">{{post.category.Name}}</span>
        </a>
        <a [routerLink]="['/post',post.PostId]">{{post.Title}}</a>
        <p class="entryPost">
          <span class="authur">By {{post.Pseudonym}}</span> |
          <span class="date"> {{post.CreatedDate | date:'mediumDate'}} {{post.CreatedDate | date:'shortTime'}} </span>
        </p>
      </div>
    </li>
  </ul>