<!-- <div class="single">
  <div class="container">
    <div class="col-md-8 single-main">
      <div class="single-grid">
        <h4>{{post.Title}}</h4>
        <br>
        <img src="./assets/images/{{post.ImageUrl}}" alt="" />
        <p>{{post.Content}}</p>
      </div>

      <div class="content-form">
        <h3>Leave a comment</h3>
        <form [formGroup]="commentForm" (ngSubmit)="addComment()" novalidate>
          <input type="text" placeholder="User" formControlName="User" class="form-controll" />
          <control-messages [control]="commentForm.controls.User"></control-messages>
          <input type="text" placeholder="Email" formControlName="Email" class="form-controll" />
          <control-messages [control]="commentForm.controls.Email"></control-messages>
          <textarea placeholder="Comment" formControlName="Content" class="form-controll"></textarea>
          <control-messages [control]="commentForm.controls.Content"></control-messages>
          <button type="submit" [disabled]="!commentForm.valid">Submit</button>
        </form>
      </div>
      <br>
      <br>
      <ul class="comment-list" *ngFor="let comment of comments">
        <app-comment [comment]="comment"></app-comment>
      </ul>
    </div>

    <div class="col-md-4 side-content">
      <div class="recent">
        <h3>RELATIVE POSTS</h3>
        <ul>
          <li>
            <a href="#">Aliquam tincidunt mauris</a>
          </li>
          <li>
            <a href="#">Vestibulum auctor dapibus lipsum</a>
          </li>
          <li>
            <a href="#">Nunc dignissim risus consecu</a>
          </li>
          <li>
            <a href="#">Cras ornare tristiqu</a>
          </li>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div> -->
<div class="container">
  <div class="row" style="height:10px"></div>

  <div class="row">
      <!-- Tiêu điểm -->
      <div class="col-md-12 title-news">
          <div class="titletabs">Tin tức</div>
          <ul class="list-inline tabsnews">
              <li>
                  <a [routerLink]="['/category',1]">Cầu thủ</a>
              </li>
              <li>
                  <a [routerLink]="['/category',2]">Chiến thuật</a>
              </li>
              <li>
                  <a [routerLink]="['/category',3]">Đội hình</a>
              </li>
              <li>
                  <a [routerLink]="['/category',4]">Kỹ thuật</a>
              </li>
          </ul>
      </div>
      <!-- End Tiêu điểm -->
  </div>
  <div class="row">
      <div class="col-md-8 col-left contmid">
          <div class="postdetail">
              <div class="acticle">
                  <h2>{{post.Title}}</h2>
                  <p class="time"> By {{post.Pseudonym}} | {{post.CreatedDate | date:'mediumDate'}} {{post.CreatedDate | date:'shortTime'}}</p>

                  <div class="fb-like" data-href=""
                      data-layout="standard" data-action="like"></div>
                  <div class="fb-share-button" data-href=""
                      data-layout="button_count"></div>
              </div>
              <div class="postcont">
                <div [innerHTML]="post.Content"></div>
              </div>

              <div class="relabit">
                 
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <h2 class="subtitle">
              <img src="../../assets/images/icon-title-1.png">Bài viết liên quan</h2>
          <div *ngIf="post.CategoryId" class="bxnews cont-inside bggrey">
            <post-list [categoryId]="post.CategoryId" [limit]=5></post-list>
          </div>
      </div>
  </div>

</div>