 <!-- Page Content -->
 <div class="container">
    <div class="row" style="height:10px"></div>
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Slide show -->
        <div class="card mb-4">
         <img src="../../assets/images/post1.jpg"/>
        </div>
        <!-- End Slide show -->
        <!-- Tiêu điểm -->
        <div class="card mb-4">
          <div class="card-body">
            <ul class="list-inline hot-news">
              <span class="label label-danger">Tiêu điểm</span>
              <a href="#">
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Gheorghe Hagi: Biểu tượng vĩ đại của Romania</a>
              <a>
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Gheorghe Hagi: Biểu tượng vĩ đại của Romania</a>
              <a>
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Gheorghe Hagi: Biểu tượng vĩ đại của Romania</a>
              <a>
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Gheorghe Hagi: Biểu tượng vĩ đại của Romania</a>
            </ul>
          </div>
        </div>
        <!-- End Tiêu điểm -->
        <!-- Blog Post -->
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <h5 class="card-header">Tin mới</h5>
              <div class="card-body">
                <post-list [limit]=10></post-list>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="card">
              <h5 class="card-header">Cầu thủ</h5>
              <div class="card-body">
                <post-list [categoryId]=1 [limit]=3></post-list>
              </div>
            </div>
            <div class="row" style="height:5px"></div>
            <div class="card">
              <h5 class="card-header">Đội hình</h5>
              <div class="card-body">
                <post-list [categoryId]=3 [limit]=3></post-list>
              </div>
            </div>
            <div class="row" style="height:5px"></div>
            <div class="card">
              <h5 class="card-header">Kỹ thuật</h5>
              <div class="card-body">
                <post-list [categoryId]=4 [limit]=3></post-list>
              </div>
            </div>
            <div class="row" style="height:5px"></div>
          </div>
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card">
          <!-- <h5 class="card-header">Search</h5> -->
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Tìm kiếm...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Phân tích cầu thủ</h5>
          <div class="card-body">
           
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
              <a href="#"><span class="label label-default">Henry UL</span></a>
              <span class="label label-primary">Ronaldo WB</span>
              <span class="label label-success">Messi CC</span>
              <span class="label label-info">Ronaldo Delima UL</span>
              <span class="label label-warning">Ronaldinho UL</span>
              <span class="label label-danger">Ozil Ec</span>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script>
    $(".carousel").swipe({
      swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

        if (direction == 'left') $(this).carousel('next');
        if (direction == 'right') $(this).carousel('prev');

      },
      allowPageScroll: "vertical"

    });
  </script>